<template>
  <div class="<%= data.lowerName %>">
  </div>
</template>

<script>
  export default {
    name: '<%= data.name %>',
    props: {},
    components: {},
    mixins: [],
    data() {
      return {
      }
    },
    computed: {},
    created() {
    },
    mounted() {
    }
  }
</script>

<style scoped>
  /* 看似报错 其实没有问题*/
  .<%= data.lowerName %> {}
</style> 